@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&family=Rubik+Beastly&display=swap');
html {
    font-family: 'Orbitron', sans-serif;
}
span {
    font-weight: bold;
}
h1 {
    font-size: 50px;
    letter-spacing: 10px;
    text-align: center;
    text-transform: capitalize;
    text-decoration-line: underline;
}
div[id="series-movies"] {
    font-size: 20px;
}
h2 {
    font-size: 2em;
}
li {
    line-height: 2;
}
div[id="characters"] {
    font-size: 18px;
}
h4 {
    letter-spacing: 14px;
}
